		<!-- Sidebar -->
		<div class="sidebar sidebar-style-2" data-background-color="white">			
			<div class="sidebar-wrapper scrollbar scrollbar-inner">
				<div class="sidebar-content">
				{% if current_user.is_authenticated %}	
					<ul class="nav nav-primary">
						<li class="nav-item {% if 'index' in segment %} active {% endif %}">
							<a href="index.html" class="collapsed" aria-expanded="false">
								<i class="fas fa-home"></i>
								<p>Dashboard</p>
								<span class="item"></span>	
							</a>
						</li>
						<li class="nav-section">
							<i class="fa fa-ellipsis-h"></i>
							<h4 class="text-section">Bereiche</h4>
						</li>
						<li class="nav-item {% if 'ui-' in segment %} active {% endif %}">
							<a href="ad.html">
								<i class="fas fa-sitemap"></i>
								<p>Active Directory</p>
								<span class="item"></span>
							</a>
						</li>
						<li class="nav-item {% if 'ui-' in segment %} active {% endif %}">
							<a href="Schwachstellen.html">
								<i class="fas fa-shield-alt"></i>
								<p>Schwachstellen</p>
								<span class="item"></span>
							</a>
						</li>
						<li class="nav-item {% if 'ui-' in segment %} active {% endif %}">
							<a>
								<i class="fas fa-server"></i>
								<p>Dateiserver</p>
								<span class="item"></span>
							</a>
						</li>
						<li class="nav-item {% if 'ui-' in segment %} active {% endif %}">
							<a>
								<i class="fas fa-users"></i>
								<p>Benutzer</p>
								<span class="item"></span>
							</a>
						</li>
						<li class="nav-item {% if 'ui-' in segment %} active {% endif %}">
							<a>
								<i class="fas fa-desktop"></i>
								<p>ITSM</p>
								<span class="item"></span>
							</a>
						</li>
					</ul>
				{% else %}
					<ul class="nav nav-primary">
						<li class="mx-4 mt-2">
						</li>
					</ul>
				{% endif %}	
				</div>
			</div>
		</div>
        <!-- End Sidebar -->
        